html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  display: block;
  margin: 0 auto; /* Centers the canvas horizontally */
}

h1, p {
  text-align: center;
  margin: 10px 0; /* Adjust spacing as needed */
  /* Add any additional styling you want for h1 and p */
}

.sketch-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Places the sketch behind other content */
}
